# Only include essential files
include README.md
include LICENSE
include CITATION.cff
include requirements.txt
include pyproject.toml

# Include B3DB package data
recursive-include B3DB *.tsv *.tsv.gz *.csv

# Exclude everything else
global-exclude *
