# packages required

mordred==1.1.2
# ChEMBL_Structure_Pipeline==1.0.0
# RDKit==2020.09.1
# openeye-toolkit=2020.2.0
# networkx 2.3.0 is required by mordred
networkx==2.3.0
numpy==1.19.2
pandas==1.2.1
pubchempy==1.0.4
PyTDC==0.1.5
SciPy==1.5.2
tabula-py==2.2.0
